[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CLA"]
	path = CLA
	url = https://github.com/cran/CLA
[submodule "VLMC"]
	path = VLMC
	url = https://github.com/cran/VLMC
[submodule "bitops"]
	path = bitops
	url = https://github.com/mmaechler/r-bitops
[submodule "classGraph"]
	path = classGraph
	url = https://github.com/cran/classGraph
[submodule "cluster"]
	path = cluster
	url = https://github.com/cran/cluster
[submodule "diptest"]
	path = diptest
	url = https://github.com/mmaechler/diptest
[submodule "fracdiff"]
	path = fracdiff
	url = https://github.com/mmaechler/fracdiff
[submodule "longmemo"]
	path = longmemo
	url = https://github.com/cran/longmemo
[submodule "lpridge"]
	path = lpridge
	url = https://github.com/cran/lpridge
[submodule "robustX"]
	path = robustX
	url = https://github.com/cran/robustX
[submodule "round"]
	path = round
	url = https://gitlab.com/mmaechler/round
[submodule "sca"]
	path = sca
	url = https://github.com/cran/sca
[submodule "sfsmisc"]
	path = sfsmisc
	url = https://github.com/mmaechler/sfsmisc
[submodule "supclust"]
	path = supclust
	url = https://github.com/mmaechler/supclust
