[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "fracdiff"]
	path = fracdiff
	url = https://github.com/mmaechler/fracdiff
	shallow = true
[submodule "sfsmisc"]
	path = sfsmisc
	url = https://github.com/mmaechler/sfsmisc
	shallow = true
[submodule "supclust"]
	path = supclust
	url = https://github.com/mmaechler/supclust
	shallow = true
